<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>[% template.title OR 'Statweb' %]</title>
	<link rel="stylesheet" href="[% c.uri_for('/static/css/default.css') %]"/>
</head>
<body>
    <div id="left_side">[% INCLUDE left_side.tt %]</div>
    <div id="main_bar">[% content %]</div>
</body>
</html>
