<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<title>[% template.title OR 'Statweb' %]</title>
[% IF template.stylesheet -%]
	<link rel="stylesheet" href="[% c.uri_for(template.stylesheet) %]">
[% ELSE -%]
	<link rel="stylesheet" href="[% c.uri_for('/static/css/default.css') %]"/>
[% END -%]
[% IF template.description -%]
	<meta name="description" content="[% template.description %]" />
[% END -%]
</head>
<body>
    <div id="left_side">[% INCLUDE left_side.tt %]</div>
    <div id="main_bar">[% content %]</div>
    <p id="footer">In case of questions or problems, contact <a href="mailto:calle.dybedahl@init.se">Calle Dybedahl</a>.</p>
</body>
</html>
