th {
    font-variant: small-caps;
    color: white;
    background: black;
}

tr.even {
    background-color: #e0ffe0;
}

td.numeric {
    text-align: right;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: gray;
    background-color: white;
}

dl {
    border: solid thin #bbb;
    background-color: #eee;
    margin: 6px;
    padding: 6px;
}

dt {
    font-weight: bold;
}

dd {
    color: blue;
}

.problem {
    color: red;
}

.fine {
    color: green;
}

#status {
    border: thin black solid;
    float: right;
    background-color: #ddd;
}

#status th {
    background-color: grey;
    padding: 0;
    margin: 0;
}

#status td:first-child {
    text-align: right;
    font-weight: bold;
}