/* @override http://dev.cyberpomo.com/css/default.css */

img {
    float: right;
	padding-bottom: 20px;
	padding-left: 10px;
}

table {
	margin-left: 40px;
	border: thin solid silver;
}

th {
    font-variant: small-caps;
    color: white;
    background: #55a155;
    padding-left: 1em;
    padding-right: 1em;
}

tr.even {
    background-color: #e0ffe0;
}

td.numeric {
    text-align: right;
}

h1, h2 {
    text-align: left;
    padding-left: 1em;
    color: gray;
	border-top-style: solid;
	border-left-style: solid;
	width: 66%;
	border-left-color: black;
	border-top-color: black;
}

h1.top {
    clear: none;
}

h2 {
	margin-left: 25px;
	border-top-color: gray;
	border-left-color: gray;
	clear: both;
}

dl {
    border: solid thin #bbb;
    background-color: #eee;
    margin: 6px;
    padding: 6px;
}

dt {
    font-weight: bold;
}

dd {
    color: blue;
}

.problem {
    color: red;
}

.fine {
    color: green;
}

#status {
    border: thin black solid;
    float: right;
    background-color: #ddd;
    margin-left: 10px;
    margin-bottom: 10px;
}

#status th {
    background-color: gray;
    padding: 0;
    margin: 0;
}

#status td:first-child {
    text-align: right;
    font-weight: bold;
}

#testinfo {
    border-collapse: collapse;
}

#testinfo td {
    padding-right: 1em;
    border-bottom: thin solid #ccc;
}

#testinfo tr.info {
    background-color: #dfd;
}

#testinfo tr.notice {
    background-color: #afa;
}

#testinfo tr.error {
    background-color: #faa;
}

#testinfo tr.warning {
    background-color: #ffa;
}

#testinfo tr.critical {
    background-color: red;
    color: yellow;
}

form {
	border: thin dotted gray;
	background-color: silver;
	margin-left: 40px;
	margin-right: 40px;
	padding: 4px;
}