<h1>[% domain %]</h1>

<table id="testinfo">
    <tr>
        <th colspan="6">Test results</th>
    </tr>
    [% FOREACH r IN test -%]
    <tr class="[% r.level FILTER lower %]">
        <td>
            [% r.level %]
        </td>
        <td>
            [% r.tag %]
        </td>
        [% FOREACH n IN [0..arg_count] -%]
        <td>
            [% r.args.$n %]
        </td>
        [% END -%]
    </tr>
    [% END -%]
</table>
