<h1>[% test.domain %]</h1>

<table id="testinfo">
    <tr>
        <th colspan="6">Test results</th>
    </tr>
    [% FOREACH r IN test.results -%]
    <tr class="[% r.level FILTER lower %]">
        <td>
            [% r.level %]
        </td>
        <td>
            [% r.message %]
        </td>
        <td>
            [% r.arg0 %]
        </td>
        <td>
            [% r.arg1 %]
        </td>
        <td>
            [% r.arg2 %]
        </td>
        <td>
            [% r.arg3 %]
        </td>
    </tr>
    [% END -%]
</table>
