<a href="/">(Back to top)</a>

<h1>Statistics for <% $name %></h1>

<h2>General information</h2>
<table>

    <tr>
        <td>&nbsp;</td>
%foreach my $t (@tr) {
        <th><% $t->domainset->name %> <% $t->name %></th>
% }
        <th>Information</th>
    </tr>

    <tr class="odd">
        <th>Domains using IPv6</th>
% foreach my $t (@tr) {
        <td class="numeric"><% sprintf "%0.2f%% (%d)", $zs->present->ipv6_percentage_for_testrun($t) %></td>
% }
        <td class="information">
            A domain is counted as using IPv6 if it has at least one server
            for DNS, SMTP or HTTP that has an IPv6 address announced.
        </td>
    </tr>

    <tr class="even">
        <th>Domains announced in more than one AS (IPv4)</th>
% foreach my $t (@tr) {
        <td class="numeric"><% sprintf "%0.2f%% (%d)", $zs->present->multihome_percentage_for_testrun($t,0) %></td>
% }
        <td class="information">
            A domain is counted here if its DNSCheck report includes the message <tt>CONNECTIVITY:ASN_COUNT_OK</tt>.
            Unless DNSCheck's default settings have been changed, this means that the domain has DNS servers 
            reachable in more than one AS.
        </td>
    </tr>

    <tr class="odd">
        <th>Domains announced in more than one AS (IPv6)</th>
% foreach my $t (@tr) {
        <td class="numeric"><% sprintf "%0.2f%% (%d)", $zs->present->multihome_percentage_for_testrun($t,1) %></td>
% }
<td class="information">
    A domain is counted here if its DNSCheck report includes the message <tt>CONNECTIVITY:V6_ASN_COUNT_OK</tt>.
</td>
    </tr>

    <tr class="even">
        <th>Domains using DNSSEC</th>
% foreach my $t (@tr) {
        <td class="numeric"><% sprintf "%0.2f%% (%d)", $zs->present->dnssec_percentage_for_testrun($t) %></td>
% }
        <td class="information">
    A domain is counted here if its DNSCheck report includes the message <tt>DNSSEC:DS_FOUND</tt>. This only
    means that the domain has DNSSEC keys in its parent zone, not necessarily that it has DNSSEC correctly
    set up.
        </td>
    </tr>

    <tr class="odd">
        <th>Domains with open recursive nameserver(s)</th>
% foreach my $t (@tr) {
        <td class="numeric"><% sprintf "%0.2f%% (%d)", $zs->present->recursing_percentage_for_testrun($t) %></td>
% }
        <td class="information">
            A domain is counted here if DNSCheck found that at least one of the nameservers for the domain
            allows recursive queries.
        </td>
    </tr>

    <tr class="even">
        <th>Domains using ADSP</th>
% foreach my $t (@tr) {
        <td class="numeric"><% sprintf "%0.2f%% (%d)", $zs->present->adsp_percentage_for_testrun($t) %></td>
% }
        <td class="information">
            A domain is counted here if it has an <tt>_adsp._domainkeys.</tt> record.
        </td>
    </tr>
    
    <tr class="odd">
        <th>Domains using SPF</th>
% foreach my $t (@tr) {
        <td class="numeric"><% sprintf "%0.2f%% (%d)", $zs->present->spf_percentage_for_testrun($t) %></td>
% }
        <td class="information">
            A domain is counted here if it has either an <tt>SPF</tt> record or a TXT record for the domain name.
        </td>
    </tr>

    <tr class="even">
        <th>Domains using STARTTLS</th>
% foreach my $t (@tr) {
        <td class="numeric"><% sprintf "%0.2f%% (%d)", $zs->present->starttls_percentage_for_testrun($t) %></td>
% }
        <td class="information">
            A domain is counted here if at least one of the servers pointed out by its <tt>MX</tt> records
            announces the <tt>STARTTLS</tt> capability in response to the <tt>SMTP</tt> <tt>EHLO</tt> command.
        </td>
    </tr>
    
    <tr class="odd">
        <th>Percentage of mail servers located in Sweden (IPv4)</th>
% foreach my $t (@tr) {
        <td class="numeric"><% sprintf "%0.2f%%",$zs->present->mailservers_in_sweden($t,0) %></td>
% }
        <td class="information">
            The fraction of IPv4 SMTP servers found that are located in Sweden (according to GeoIP).
        </td>
    </tr>
    <tr class="even">
        <th>Percentage of mail servers located in Sweden (IPv6)</th>
% foreach my $t (@tr) {
        <td class="numeric"><% sprintf "%0.2f%%",$zs->present->mailservers_in_sweden($t,1) %></td>
% }
        <td class="information">

            The fraction of IPv6 SMTP servers found that are located in Sweden. At
            the moment, this number i almost certainly wildly wrong, since the
            GeoIP IPv6 data is much less reliable than their IPv4 data.

        </td>
    </tr>
    
    <tr class="odd">
        <th>Number of tested domains</th>
% foreach my $tr (@tr) {
        <td class="numeric"><% $tr->tests->count %></td>
% }
        <td>&nbsp;</td>
    </tr>

    <tr class="even">
        <th>Number of distinct nameservers (IPv4)</th>
% foreach my $tr (@tr) {
        <td class="numeric"><% $zs->present->nameserver_count($tr,0) %></td>
% }

        <td class="information">
        
        By "distinct nameserver" here and on the following row is meant
        different IP addresses. This may be strictly incorrect both by one
        server answering on more than one address (giving an artificially high
        count) and by one address being served by a cluster of servers (giving
        an artificially low count). Hopefully these two error sources mostly
        cancel each other out.

        </td>

    </tr>

    <tr class="odd">
        <th>Number of distinct nameservers (IPv6)</th>
% foreach my $tr (@tr) {
        <td class="numeric"><% $zs->present->nameserver_count($tr, 1) %></td>
% }
        <td>&nbsp;</td>
    </tr>
    
    <tr class="even">
        <th>Number of webservers</th>
% foreach my $t (@tr) {
        <td class="numeric"><% $t->search_related('webservers',{https => 0})->count %></td>
% }
        <td class="information">
            This is the number of domains for which an <tt>HTTP GET</tt>
            command on the domain name prepended with <tt>www.</tt> returned
            something reasonable.
        </td>
    </tr>

    <tr class="odd">
        <th>Number of webservers (https)</th>
% foreach my $t (@tr) {
        <td class="numeric"><% $t->search_related('webservers',{https => 1})->count %></td>
% }
        <td class="information">
            This is the number of domains for which an <tt>HTTP GET</tt>
            command over https on the domain name prepended with <tt>www.</tt> returned
            something reasonable.
        </td>
    </tr>

</table>

<h2>Further information</h2>
<ul>
    <li><a href="dnscheck.html">DNSCheck data</a></li>
    <li><a href="webserver.html">Webpage data</a></li>
    <li><a href="servers.html">Server data</a></li>
</ul>

<%init>
my @tr;
my $name;

my @tid = keys %{$app->session->{testruns}};

if (@tid) {
    @tr = sort {$b->tests->count <=> $a->tests->count} 
        grep {defined($_)} map {$zs->present->dbx('Testrun')->find($_)} @tid;
    if(@tr == 1) {
        $name = $tr[0]->domainset->name;
    } else {
        $name = scalar(@tr) . " sets"
    }
    @tid = map {$_->id} @tr;
} else {
    $m->redirect('/')
}
my $c;
</%init>
<%method title>ZoneStat: Testruns</%method>
