<h2>Tests in <% $tr->domainset->name %> <% $tr->name %> at level <% $level %></h2>

        <table>
            <tr>
                <th>Domain</th>
                <th>Critical</th>
                <th>Error</th>
                <th>Warning</th>
                <th>Notice</th>
                <th>Info</th>
            </tr>
% while (defined(my $i = $tests->next)) {
                <tr class="<% ++$c%2==0?'even':'odd' %>">
                    <td>
% if ($i->results->count > 0) {
                        <a href="/tests/<% $i->id %>"><% $i->domain %></a>
% } else {
                        <% $i->domain %>
% }
                    </td>
                    <td class="numeric"><% $i->count_critical %></td>
                    <td class="numeric"><% $i->count_error %></td>
                    <td class="numeric"><% $i->count_warning %></td>
                    <td class="numeric"><% $i->count_notice %></td>
                    <td class="numeric"><% $i->count_info %></td>
                </tr>
% }
        </table>

<%init>
unless ($level eq 'CRITICAL' or $level eq 'ERROR' or $level eq 'WARNING' or $level eq 'NOTICE' or $level eq 'INFO') {
    $m->clear_buffers;
    $m->abort(403);
}

my $tr = $zs->present->dbx('Testrun')->find($tid);
$m->abort(404) unless defined($tr);

my $key = 'count_' . lc($level);

my $tests = $tr->search_related('tests', {$key => { '>', 0}});

my $c;
</%init>
<%args>
$tid
$level
</%args>