<h1>[% dset.name %]</h1>
[% IF page.last_page > 1 -%]
<h2>Page [% page.current_page %]/[% page.last_page %]</h2>
[% END %]

[% IF page.previous_page -%]
<a href="[% c.uri_for('', dset.id, page.previous_page) %]">Previous</a>
[% END -%]

[% IF page.next_page -%]
<a href="[% c.uri_for('', dset.id, page.next_page) %]">Next</a>
[% END -%]

[% f = page.first -%]
<ul>
    [% FOREACH row IN rows.all -%]
    <li>[% f %]: [% row.domain.domain %]</li>
    [% f = f + 1 -%]
    [% END -%]
</ul>