        <h1 class="top">Available domainsets</h1>


<table id="trpresent">
    <tr>
% foreach my $set (@sets) {
        <td>
        <table>
            <tr>
                <th>
                    <a href="/domainset/<% $set->id %>"><% $set->name %></a>
                </th>
            </tr>
            <tr>
                <th class="commands">
                    <a href="/domainset/enqueue_domainset.html?sid=<% $set->id %>">(start gathering)</a>
                </th>
            </tr>
            <tr>
            <td>
% if ($set->testruns->count > 0) {
                <ul class="testrunlist">
% foreach my $tr ($set->testruns({},{order_by => {-desc => 'start'}})) {
                    <li class="<% ($trs->{$tr->id} ? 'selected' : 'unselected') %>">
                        <a href="/action/toggletestrun?tid=<% $tr->id %>">
                            <% $tr->name %> (<% $tr->tests->count %> tests)
                        </a>
                    </li>
% }                    
                </ul>
% }
            </td>
        </tr>
        </table>
        </td>
        <% ($c++%2==1)?'</tr><tr>':'' %>
% }
    </tr>
</table>

<p>
    <a href="/testrun/">View comparison data for selected gathering runs.</a>
</p>

        <h2>Create a new domainset</h2>
        <form action="/com/create_domainset" method="post" enctype="multipart/form-data">
            <label for="name">Name:</label><input type="text" name="name" />
            <label for="userfile">Data file (optional):</label><input name="userfile" type="file" class="button">
            <input type="submit" value="Create">
        </form>
        
<%init>
my @sets = $zs->present->all_domainsets;
my $trs = $app->session->{testruns};
my $c;
</%init>
