% if ($app->session->{user}) {
    <p><a href="/">Go to top page.</a></p>
% } else {
% foreach my $mess ($app->errors) {
    <h1><% $mess %></h1>
% }
    <form action="/action/login" method="post">
      <p>
        <label for="username">Username: </label>
        <input type="text" name="username" value="<% $username %>"/>
          <br/>
            <label for="password">Password: </label>
            <input type="password" name="password"/>
              <br/>
                <input type="submit" value="Login"/>
      </p>
    </form>
    
% }

<%init>
my $username = $app->session->{username} || '';
delete $app->session->{username};
</%init>
<%method title>ZoneStat Login</%method>